h1 {
    text-align: center;
    color: cornsilk;
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.bar_l {
    float: left;
    border-right: 1px solid #bbb;
}

.bar_l:last-child {
    border-right: none;
}

.bar_l a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bar_l a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

table{
    color:gainsboro;
}

ol, .ol{
    color:lemonchiffon;
}

h2{
    color:gold;
}

footer{
    color:chartreuse;
}